.card {
  background: #000;
  color: white;
  width: 560px;
  /* // auto makes it center horizontally */
  margin: 0 auto;
  padding: 45px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  /* // collapsing margins, add margin-bottom and margin top would be collapsed */
  margin-bottom: 40px;
}

.links {
  /* // add space between the card and the links */
  margin-top: 40px;
  margin-bottom: 0;
}
.accent-color {
  color: #ffe600;
}

/* a:link,
a:visited {
  color: #ffe600;
}

a:focus {
  color: aquamarine;
}

a:hover {
  color: firebrick;
}
a:active {
  color: plum;
} */

a {
  color: #e4e4e4;
}

a:hover {
  color: gray;
}
