.card {
  background: #000;
  color: white;
  width: 560px;
  /* // auto makes it center horizontally */
  margin: 0 auto;
  padding: 45px;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  /* // collapsing margins, add margin-bottom and margin top would be collapsed */
  margin-bottom: 40px;
}

.links {
  /* // add space between the card and the links */
  margin-top: 40px;
  margin-bottom: 0;
}
.accent-color {
  color: #ffe600;
}

/* a:link,
a:visited {
  color: #ffe600;
}

a:focus {
  color: aquamarine;
}

a:hover {
  color: firebrick;
}
a:active {
  color: plum;
} */

a {
  color: #e4e4e4;
}

/* a:hover {
  color: gray;
} */

.button {
  background: #ffe600;
  color: black;
  padding: 15 30px;
  /* // prevent the button from too wide and covering the text */
  display: inline-block;
  margin-bottom: 50px;
  /* give some border-radius, text-shadow, box-shadow and transition and transform */
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
  transform: translateX(0);
}

.button:hover {
  background: #e4e4e4;
  color: black;
}
